#clockContainer {
  position: relative;
  margin: auto;
  height: 40vw;
  width: 40vw;
  background: url(lol.png) no-repeat;
  background-size: 100%;
}
#hour,
#minute,
#seconds {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}
#hour {
  width: 1.5%;
  height: 22%;
  top: 28%;
  left: 49.5%;
  opacity: 0.8;
    background-color: #da2727;
  
}
#minute {
  width: 1.2%;
  height: 27%;
  top: 22%;
  left: 49.65%;
  opacity: 0.8;
    background-color: #529a4e;
   
}
#seconds {
  width: 1%;
  height: 31%;
  top: 18%;
  left: 49.6%;
  opacity: 0.8;
    background-color: #3487a7;
  
}
#circle{
   width: 4.1%;
    height: 4.4%;
    border-radius: 50%;
    top: 47%;
    left: 48.2%;
    
    position: absolute;
    background: black;
    
}
